 /* Header */

 .user{
  width: 60px;
  height: 60px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50%;
  float: right;
  margin-right: 30px;
  background-color: black;
}

.logo{
  font-size: 30px;
  color: #fff;
}

.lnk{
  text-decoration: none;
  color: black
}
.lnk:hover{
  color: #fff;
}

.dashboard {
  width: 200px;
  height: 100vh;
  float: left;
  background-color: rgba(151, 149, 149, 0.911);
}

.button-con{
  margin-top:100px ;
}

.dashboard button{
  width: 150px;
}

 /* login page */

 .login{
  width: 430px;
  height: 500px;
  background-color: rgb(81, 107, 163);
  margin-top: 90px;
  border-radius: 9px;  
}

.lab{
  width: 400px;
  height: 50px;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.inp-val{
  width: 400px;
}

.submit{
  width: 400px;
  margin-top: 50px;
  border-color: aliceblue;
}



/* masterlist page */

.container-master{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.fileupload-con h5{
  margin-bottom:40px ;
}
.instr-con h5{
  margin-bottom: 40px;
}

/* Invities page */

.ful-table{
  width: 1200px;
  position: absolute;
  margin-top: 30px;
  margin-left: 190px;
}
.search-box{
  float: right;
  margin-right: 50px;
  margin-bottom: 20px;
}
.search-box input{
  width: 300px;
}

.icon{
   font-size: 30px;
   margin-right: 20px;
}

.pagination-box{
  width:500px;
  height: 20px;
  float: right;
  margin-right: 50px;
}

.pagination-box label{
  border: 2px solid black;
  margin-right: 30px;
  padding: 5px 10px;
}

.button-box{
  margin-right: 20px;
}